.required:after {
    content: " *";
    color: red;
}

.btn.btn-link {
    margin-left: 10px;
    margin-right: 10px;
}

.alert {
    margin-top: 1rem;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}